/*
	Style sheet for Sweet T Travels index (undercon).
	Name: Teila Hambleton 
	Date: 02/17/2022 
	Class: CS125H - Lab 06
*/

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #CD96CD;
}

body {
	width: 1000px;
	margin: 0 auto;
	background-image:
		-webkit-linear-gradient(30deg, #D8BFD8 0%, #D8BFD8 30%, white 50%, #D8BFD8 80%, #D8BFD8 100%); 
	border: 5px double #7A378B;
	border-radius: 10px;
	box-shadow: 5px 5px #BA55D3;
}

header h1 { 
	text-align: center;
	padding: .5em;
	font-size: 500%;
	background: -webkit-linear-gradient(#7A378B, #8B008B, #BA55D3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header {
	text-align: center;
}

main a {
	margin: 5px 420px;
}

footer {
	border-top: 3px solid #7A378B;
	padding: 1em;
	clear: both;